*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  width: 1700px;
  margin: auto;
}
.bar-top::after{
  clear: both;
  content: "";
  display: block;
}
a{
  text-decoration: none;
}
.bar-top li{
  list-style: none;
  display: inline-block;
}
.bar-top{
  background-color: #0e106c;
  text-align: center;
  line-height: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: white;
}

.logo-top{
  float: left;
  width: 20%;
}
.logo-top img{
  float: right;
  margin-top: 20px;
}
.menu-top{
  float: left;
  width: 35%;
  margin-left: 6%;
}
.menu-top li{
  float: left;
  margin-left: 20px;
  margin-right: 0;
}
.menu-top a{
  color: white;
}

.right-top{
  width: 38%;
  float: left;
  margin-left:1%;
}
.buttom{
  border: white solid 1px;
  margin-left: 10px;
  padding-left:20px;
  padding-right:20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5%;
  color: white;
}
 #struttura-un-piano{
   background-color: #7fe619;
 }
 .header-center{
   background-color: #0e106c;
   background-image: url(../img/background-header.png);
   background-position: 110% 100%;
   background-repeat: no-repeat;
   height: 600px;
   background-size: 1200px 550px;
 }
 .header-center::after{
   clear: both;
   content: "";
   display: block;
 }
 .header-center h1{
   margin-left: 230px;
   color: white;
   position: relative;
   top: 200px;
   font-family: 'Lato', sans-serif;
   font-size: 50px;
 }
 .header-center a{
  position:relative;
  left: 230px;
  top:250px;
  padding: 15px;
 }
.header-bottom{
  line-height: 30px;
  background-color: lightgrey;
  text-align: center;
  padding:30px;
  font-family: 'Roboto', sans-serif;
}
.top-main::after{
  clear: both;
  content: "";
  display: table;
}
.top-main div{
  width: 30%;
  float: left;
  text-align: center;
}
.top-main img{
  height: 200px;
  width: 200px;
}
.top-main h2{
  color: #7fe619;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  margin-bottom: 25px;
}
.top-main hr{
  margin: auto;
}
.top-main p{
  padding: 30px
}
