*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.bar-top::after{
  clear: both;
  content: "";
  display: block;
}
a{
  text-decoration: none;
}
.bar-top li{
  list-style: none;
  display: inline-block;
}
.bar-top{
  background-color: #0e106c;
  text-align: center;
  line-height: 100px;
  width: 1500px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: white;
}

.logo-top{
  float: left;
  width: 20%;
}
.logo-top img{
  float: right;
  margin-top: 20px;
}
.menu-top{
  float: left;
  width: 35%;
  margin-left: 6%;
}
.menu-top li{
  float: left;
  margin-left: 20px;
  margin-right: 0;
}
.menu-top a{
  color: white;
}

.right-top{
  width: 38%;
  float: left;
  margin-left:1%;
}
.buttom{
  border: white solid 1px;
  margin-left: 10px;
  padding-left:20px;
  padding-right:20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10%;
  color: white;
}
 #struttura-un-piano{
   background-color: #7fe619;
 }
